.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    /* margin: 10px 0; */
}

.cart-item-image {
    width: 100px;
    /* Set a fixed width for the image container */
    height: 100px;
    /* Set a fixed height for the image container */
    margin-right: 10px;
    overflow: hidden;
    /* Hide any image overflow */
}

.cart-item-image img {
    max-width: 100%;
    max-height: 100%;
    /* Ensure the image inside fits within the container */
}

.cart-item-details {
    flex: 1;
}

.cart-item-name {
    font-weight: bold;
}

.cart-separator {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 100%;
}

.cart-separator > hr {
    background-color: rgb(0,0,0);
    color: rgb(0,0,0);
}

.cart-checkout-container {
    padding-top: 40px;
    padding-bottom: 48px;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}