.footer-container{
        display: flex;
        justify-content: space-evenly;
        padding: 42px 0;
        background-color: rgb(32, 32, 32);
        color: antiquewhite;
}

.footer-links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 15px 0 15px !important;
        flex-direction: column;
}