.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(38, 22, 10, 0) 0%, rgb(38, 22, 10) 100%);
    color: #fff;
    transition: background 500ms ease-in-out 0s;
    padding: 0 5vw;
    height: 20vh;
}

.header-signin {
    display: flex;

}

.header-signin-svg {
    color: #fff;
    height: 24px;
    width: auto;
    margin: 0 10px -8px;
    padding-right: 15px;

}

.header-cart-svg {
    height: 28px;
    width: auto;
}
