.items-container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly;
  }
  
  .item {
    width: calc(33.3333% - 10px); 
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  
  .item-image {
    max-height: 300px !important;
    max-width: 350px !important;
    min-height: 256px !important;
    min-width: 350px !important;
    background-color: #fff;
  }
  
  .item-image-container {
    position: relative;
    width: 100%; 
    padding-top: 56.25%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .item-image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate(-50%, 0);
  }
  
  .item-name-price{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
  }
  
  .item-name-price-title{
    font-size: 16px;
    letter-spacing: 2.5px;
    text-align: center;
  }