.signup {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: medium;
    margin-top: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }
  
  .card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 390px;
  width: 333px;
  flex-direction: column;
  gap: 23px;
  background: #D5DCD1;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px;
  }

  .inputBox,
  .inputBox1 {
    position: relative;
    width: 250px;
  }
  
  .inputBox input,
  .inputBox1 input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: #D5DCD1;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.3s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span,
  .inputBox1 span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    padding-right: 32px;
    pointer-events: none;
    font-size: 12px;
    color: #19323C;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    background-color: #D5DCD1;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #19323C;
    letter-spacing: 0.2em;
    color: #D5DCD1;
    border: 2px;
  }
  
  .inputBox1 input:valid~span,
  .inputBox1 input:focus~span {
    transform: translateX(156px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #19323C;
    letter-spacing: 0.2em;
    color: #D5DCD1;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus,
  .inputBox1 input:valid,
  .inputBox1 input:focus {
    border: 2px solid #19323C;
    border-radius: 8px;
  }
  
  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #19323C;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 3em;
  }
  
  .enter:hover {
    background-color: #19323C;
    color: white;
  }
  .signup-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
  }

  .login{
    margin-top: 20px;
  }